<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Client Management Application</title>
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
</head>
<body>

<header>
  <nav class="navbar navbar-expand-md navbar-dark"
       style="background-color: tomato">
    <div>
      <a href="https://www.javaguides.net" class="navbar-brand"> User Management App </a>
    </div>

    <ul class="navbar-nav">
      <li><a th:href="@{/Client/list}" class="nav-link">Clients</a></li>
      <li><a th:href="@{/Produit/list}" class="nav-link">Produits</a></li>
      <li><a th:href="@{/Commande/list}" class="nav-link">Commande</a></li>
    </ul>
  </nav>
</header>
<br>
<div class="container col-md-5">
  <div class="card">
    <div class="card-body">
      <form th:action="${client != null} ? @{/update} : @{/insert}" method="post">
        <caption>
          <h2>
            <span th:if="${client != null}">Edit client</span>
            <span th:if="${client == null}">Add New client</span>
          </h2>
        </caption>

        <input type="hidden" name="id" th:value="${client != null} ? ${client.uuid} : ''"/>

        <fieldset class="form-group">
          <label>Client Name</label>
          <input type="text" th:value="${client != null} ? ${client.name} : ''" class="form-control" name="name" required="required">
        </fieldset>

        <fieldset class="form-group">
          <label>Client Email</label>
          <input type="text" th:value="${client != null} ? ${client.email} : ''" class="form-control" name="email">
        </fieldset>

        <fieldset class="form-group">
          <label>Client Adress</label>
          <input type="text" th:value="${client != null} ? ${client.adress} : ''" class="form-control" name="adress">
        </fieldset>

        <fieldset class="form-group">
          <label>Client phone</label>
          <input type="text" th:value="${client != null} ? ${client.phone} : ''" class="form-control" name="phone">
        </fieldset>

        <button type="submit" class="btn btn-success">Save</button>
      </form>
    </div>
  </div>
</div>
</body>
</html>