<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Produit Management Application</title>
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
</head>
<body>

<header>
  <nav class="navbar navbar-expand-md navbar-dark"
       style="background-color: tomato">
    <div>
      <a href="#" class="navbar-brand"> OrderCraft - Gestion des Commandes </a>
    </div>

    <ul class="navbar-nav">
      <li><a th:href="@{/Client/list}" class="nav-link">Clients</a></li>
      <li><a th:href="@{/Produit/list}" class="nav-link">Produits</a></li>
      <li><a th:href="@{/Commande/list}" class="nav-link">Commande</a></li>
    </ul>
  </nav>
</header>
<br>

<div class="row">
  <div class="container">
    <h3 class="text-center">List of Produits</h3>
    <hr>
    <div class="container text-left">
      <a th:href="@{/Produit/new}" class="btn btn-success">Add New Produit</a>
    </div>
    <br>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Prix</th>
        <th>Qte stock</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="produit : ${listProduits}">
        <td th:text="${produit.uuid}"></td>
        <td th:text="${produit.name}"></td>
        <td th:text="${produit.description}"></td>
        <td th:text="${produit.prix}"></td>
        <td th:text="${produit.qte_stock}"></td>
        <td>
          <a th:href="@{/Produit/edit(id=${produit.uuid})}">Edit</a>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <a th:href="@{/Produit/delete(id=${produit.uuid})}">Delete</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>